<!DOCTYPE HTML>
<html xmlns:th="https://thymeleaf.org">
	<head>
	<link rel="stylesheet" href="/css/signIn.css">
		<title>Sign Up/Log In</title>
	</head>
	<body>
	<div class="flex-container">
		<div id= signupContainer>
			<form id=signupForm onsubmit='return allowUserSignup(event.preventDefault())' method="POST"  th:action="@{/user/home}">
					<h1>Sign Up</h1>
					<label>Username:</label> <input class=signupInput id=signupUsername type="text" th:field=|${user.username}|/><br/>
					<label>Password:</label> <input class=signupInput id=signupPassword type="password" th:field="|${user.password}|"/><br/>
					<label>Confirm Password:</label> <input class=signupInput id=confirmPassword type="password" /><br/>
					<label>Email:</label> <input class=signupInput id=email type="text" th:field="|${user.email}|"/><br/>
					<button type="submit" id=createAccountBtn >Create Account</button><div id=signupAppendToBtn> </div>
			</form>
		</div>
		<div id= login-container>
			<form id=loginForm onsubmit='return allowUserLogin(event.preventDefault())' method="POST"  th:action="@{/user/home}">
				<h1>Login</h1>
				<label>Username:</label> <input class=loginInput id= loginUsername type="text" th:field="|${user.username}|"/><br/>
				<label>Password:</label> <input class=loginInput id= loginPassword type="password" th:field="|${user.password}|"/><br/>
				<button type="submit"  id=loginBtn >Login</button><div id=loginAppendToBtn> </div>
			</form>
		</div><br/>
	</div>
	</body>
	<script type="text/javascript" src="/js/signIn.js">
	</script>
</html>